Repository idmarinas/tracy-twig-bar, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, meta, ci/cd, docker configuration, deployer configuration, tests

chore: add workflows for pull request labeling and stale issue management
  .github/workflows/label.yml
  .github/workflows/stale.yml
Labels: ci/cd

chore: add GitHub Actions workflow for PHP test suite
  .github/workflows/php.yml
Labels: ci/cd

chore: comment out unused tools configuration in PHP GitHub Actions workflow
  .github/workflows/php.yml
Labels: ci/cd

chore: add SonarQube configuration for project analysis
  sonar-project.properties
Labels: none

chore: improve README with badges, donation links, and project tools information
  README.md
Labels: documentation

chore: update README with correct SonarCloud project identifiers
  README.md
Labels: documentation

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - README.md
          - Writerside/**

meta:
  - changed-files:
      - any-glob-to-any-file:
          - CODE_OF_CONDUCT.md
          - CONTRIBUTING.md
          - SECURITY.md
          - .editorconfig
          - .gitignore
          - .gitattributes
          - .idea/**
          - .github/FUNDING.yml
          - .github/ISSUE_TEMPLATE/**
          - .github/PULL_REQUEST_TEMPLATE.md

ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
          - .github/labeler.yml

'docker configuration':
  - changed-files:
      - any-glob-to-any-file:
          - .docker/**
          - compose.yaml
          - compose.prod.yaml
          - compose.dev.yaml
          - compose.test.yaml
          - compose.override.yaml

'deployer configuration':
  - changed-files:
      - any-glob-to-any-file:
          - .deployer/**
          - deploy.php

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**
          - src/*/tests/**
